<%= render 'shared/errors', obj: @poll %>

<%= form_tag polls_path, method: :post, class: 'create-poll' do %>
	
	<div class="row">
		<h2 id="poll-title"><%= text_field_tag :poll_title_param, params[:poll_title_param], 
									placeholder: 'Type a title for your pole',
									autofocus: true,
									class: 'create-poll-form-title text-center' %></h2>
	</div>

	<div class="answers-group">
		<div class="row answer-field">
			<%= text_field_tag "answer_title_param[]", params[:answer_title_param], placeholder: 'Answer', class: 'answer-style', value: nil %>
		</div>

		<div class="row answer-field">
			<%= text_field_tag "answer_title_param[]", params[:answer_title_param], placeholder: 'Answer', class: 'answer-style', value: nil %>
		</div>
	</div>
	
	<div class="row answer-field">
		<%= submit_tag '+1', :type => 'button', class: 'btn btn-success btn-xs', id: "add_answer_field" %>
	</div>

	<div class="row">
		<%= button_tag(type: :summt, class: 'btn btn-md btn-success btn-create-poll') do %>
			<strong>Create Poll</strong>
		<% end %>
	</div>

<% end %>