<%= form_tag questions_update_path, remote: true, method: :get, class: 'show-poll' do %>

	<h2 class="text-center" id="poll-title"><%= @poll.title %></h2>

	<% @poll.questions.each do |q| %>
		<div class="row">
			<div class="col-xs-6">
				<div class="col-xs-1">
					<h4><%= radio_button_tag(:answer, q.id) %></h4>
				</div>
				<div class="col-xs-11">
					<h4><%= label_tag(:answer, q.title) %> <small>votes: <%= q.votes %></small></h4>
				</div>
			</div>
		</div>
	<% end %>


	<div class="row">
		<%= button_tag(type: :summt, class: 'btn btn-md btn-success btn-vote') do %>
			<strong>Vote</strong>
		<% end %>
	</div>

<% end %>