<div class="row" id="nav-margin">
	<div class="col-xs-6">
		<h3><strong><%= link_to 'Create-A-Poll', user_signed_in? ? polls_path : root_path, class: 'logo' %></strong></h3>
	</div>
	
	<div class="col-xs-6">
		<div class="col-xs-6">
		<%= link_to 'New Poll', new_poll_path, class: 'btn btn-success btn-add-poll' %>
		</div>
		<div class="col-xs-6">
		<% if user_signed_in? %>
			<div class="col-xs-6 col-xs-push-2">
					<%= link_to("Poll list", polls_path, class: "btn btn-info btn-logout_signup") %>
				</div>
				<div class="col-xs-6">
					<%= link_to("Logout", destroy_user_session_path, class: "btn btn-danger btn-logout_signup", method: :delete) %>
				</div>
		<% else %>
			<div class="col-xs-6 col-xs-push-2">
				<%= link_to("Sign up", new_user_registration_path, class: "btn btn-info btn-logout_signup") %>
			</div>
			<div class="col-xs-6">
				<%= link_to("Sign in", new_user_session_path, class: "btn btn-info btn-logout_signup") %>
			</div>
		<% end %>
		</div>
	</div>

</div>