<div class="row" id="nav-margin">
	<div class="col-xs-6">
		<% if user_signed_in? %>
			<h3><strong><%= link_to 'Create-A-Poll', polls_path, class: 'logo' %></strong></h3>
		<% else %>
			<h3><strong><%= link_to 'Create-A-Poll', new_poll_path, class: 'logo' %></strong></h3>
		<% end %>
	</div>
	
	<div class="col-xs-3">
		<%= link_to 'New Poll', new_poll_path, class: 'btn btn-success btn-add-poll' %>
	</div>

	<div class="col-xs-3">
	<% if current_user %>
		<%= link_to("Logout", destroy_user_session_path, class: "btn btn-danger btn-logout_signup", method: :delete) %>
	<% else %>
		<div class="row">
			<div class="col-xs-6 col-xs-push-2">
				<%= link_to("Sign up", new_user_registration_path, class: "btn btn-info btn-logout_signup") %>
			</div>
			<div class="col-xs-6">
				<%= link_to("Sign in", new_user_session_path, class: "btn btn-info btn-logout_signup") %>
			</div>
		</div>
	<% end %>
	</div>
</div>